@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin-top: 50px;
}
:root {
	--bg: #e3e4e8;
	--fg: #17181c;
	--input: #ffffff;
	--primary: #255ff4;
	--dur: 1s;
}
a{
  text-decoration:none;
  display: inline-block;
}
ul{
  display:flex;
  margin: 0;
}
li{
  list-style-type:none;
}
img{
  width: 100%;
}
form, input, .caret {
	margin: auto;
}
.container{
  max-width:1500px;
}
h1{
  margin: 0;
  padding: 0;
}

/***** header section Style start hare*****/
header{
  background: #1B1B28;
  width: 100%;
}
header .content-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .content-wrapper .left{
  display: flex;
  align-items: center;
}
header .content-wrapper .left .logo-wrapper{
  margin: 0 120px 0 25px;
  margin-left: 0;
}
header .content-wrapper .left .logo-wrapper h1{
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
header .content-wrapper .left .logo-wrapper h1::after{
  position: absolute;
  content: "nic";
  color: red;
  top: 0;
  left: 100%;
}
header .content-wrapper .left .menu-wrapper ul li{
  width: 107px;
  padding: 20px 5px;
  transition: 0.3s;
}
header .content-wrapper .left .menu-wrapper ul li.active{
  background: #6E6C85;
}
header .content-wrapper .left .menu-wrapper ul li:hover{
  background: #6E6C85;
}
header .content-wrapper .left .menu-wrapper ul li:hover a{
  color: #fff;
}
header .content-wrapper .left .menu-wrapper ul li a{
  font-size: 12px;
  font-weight: 400;
  margin-left: 15px;
  position: relative;
  color: #BDBBCE;
  text-transform: capitalize;
  transition: 0.3s;
}
header .content-wrapper .left .menu-wrapper ul li a::after{
  position: absolute;
  content: ">";
  right: -30px;
  font-size: 15px;
  transition: 0.3s;
}
header .content-wrapper .left .menu-wrapper ul li:hover a::after{
  display: inline-block;
  transform: rotate(90deg);

}
header .right ul li form{
  position: relative;
  transition: all 1s;
  width: 45px;
  height: 45px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
}
header .right ul li form input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 40px;
  line-height: 10px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 15px;
  border-radius: 25px;
  padding: 0 10px;
}
header .right ul li form input .fa{
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50px;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 15px;
  transition: all 1s;
}
.svg-inline--fa {
  display: var(--fa-display,inline-block);
  height: 1em;
  overflow: visible;
  vertical-align: -5px;
  margin-left: 6px;
}
header .right ul li form:hover, form:valid{
    width: 150px;
    cursor: pointer;
}
header .right ul li form:hover input,
form:valid input{
    display: block;
}
header .right ul li form:hover .fa,
form:valid .fa{
    background: #07051a;
    color: white;
}
header .right ul li form a {
  display: none;
  position: absolute;
  top: 50px;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  text-align: center; 
  width: 100%;
}

header .right ul li form:valid a {
  display: block;
}
header .right ul{
  display: flex;
  align-items: center;
}
header .right ul li{
  min-height: 100%;
  display: inline-block;
  transition: 0.3s;
}
header .right ul li+ li{
  padding: 24px 20px;
}
header .right ul li:first-child{
  padding: 9px 15px;
}
header .right ul li:first-child:hover{
  background: transparent;
}
header .right ul li:last-child{
  background-color: transparent;
  padding: 5px;
}
header .right ul li:last-child:hover{
  background: transparent;
}
header .right ul li:last-child a .text{
  font-size: 13px;
  font-weight: 500;
  color: #6C7293;
  margin-right: 5px;
}
header .right ul li:hover{
  background: #BDBBCE;
}
header .right ul li a{
  display: flex;
  align-items: center;
  color: #6E6C85;
}
header .right ul li:hover a{
  color: #fff;
}
header .right ul li a i {
  display: inline-block;
  font-size: 19px;
}

