@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin-top: 50px;
}
a{
  text-decoration:none;
  display: inline-block;
}
ul{
  display:flex;
  margin: 0;
}
li{
  list-style-type:none;
}
img{
  width: 100%;
}
.container{
  max-width:1500px;
}
h1{
  margin: 0;
  padding: 0;
}

/***** header section Style start hare*****/
header{
  background: #1B1B28;
  width: 100%;
}
header .content-wrapper{
  display: flex;
  align-items: center;
}
header .content-wrapper .left{
  display: flex;
  align-items: center;
}
header .content-wrapper .left .logo-wrapper{
  margin: 0 120px 0 25px;
}
header .content-wrapper .left .logo-wrapper h1{
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
}
header .content-wrapper .left .logo-wrapper h1::after{
  position: absolute;
  content: "nic";
  color: red;
  top: 0;
  left: 100%;
}
header .content-wrapper .left .menu-wrapper ul li{
  padding: 19px 50px 19px 25px;
  transition: 0.3s;
}
header .content-wrapper .left .menu-wrapper ul li:hover{
  background: #6E6C85;
}
header .content-wrapper .left .menu-wrapper ul li:hover a{
  color: #BDBBCE;
}
header .content-wrapper .left .menu-wrapper ul li a{
  font-size: 12px;
  font-weight: 400;
  color: #BDBBCE;
  text-transform: capitalize;
  transition: 0.3s;
}
